<ion-content>
  <div class= "pageContent">
    <h1>Homard en chaud-froid</h1>
    <img class= "mimage"
    src ="../../assets/images/homardRecette.png">
    <p>Faites cuire les homards dans de l'eau bouillante avec du thym, du laurier, du sel et du poivre de Cayenne. Laissez cuire 20 minutes. Égouttez-les et laissez-les refroidir.</p>
    <p>Découpez les coffres des homards dans le sens de la longueur.</p>
    <p>Mélangez la mayonnaise avec le cognac, le corail et la ciboulette ciselée.</p>
  </div>
</ion-content>
