<ion-content>
  <div class= "pageContent">
    <h1>Les fous de l'ile</h1>
    <img class= "mimage"
    src ="../../../assets/images/Restaurants/fousDeLIle@2x.png">
    <h2>XXX YYY ZZZ</h2>
    <p class = "b">Qu'il est chaud le Soleil</p>
    <p class = "b">Quand nous sommes en vacances</p>
    <p class = "b">Y a d'la joie, des hirondelles</p>
    <p class = "b">C'est le sud de la France</p>
    <p class = "b">Papa bricole au garage</p>
    <p class = "b">Maman lit dans la chaise longue</p>
    <p class = "b">Dans ce joli paysage</p>
    <p class = "b">Moi je me balade en tongs</p>
    <p class= "a">Que de bonheur !</p>
    <p class = "b">Que de bonheur !</p>
  </div>
</ion-content>
