<ion-header>
  <ion-toolbar>
    <ion-title>Modal Content</ion-title>
    <ion-icon name='close-circle' (click)='dismiss()' style='float: right;'></ion-icon>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>

    <ion-item>
      <button></button>
    </ion-item>

    <ion-item>
      <button></button>
    </ion-item>

    <ion-item>
      <button></button>
    </ion-item>

    <ion-item>
      <button></button>
    </ion-item>

    <ion-item>
      <button></button>
    </ion-item>

  </ion-list>
</ion-content>
